@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');

:root{

    --color-primary: #800020;
    --background-primary: white;
    --background-secondary: #fff8eb;

    --font-family-primary: 'Roboto Serif', sans-serif;

    scroll-behavior: smooth;
}

body {
    color: var(--color-primary);
    background-color: var(--background-primary);
    font-family: var(--font-family-primary);
}

html {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

h2 {
    font-size: 1.2rem;
}

section {
    min-height: calc(100vh - min(70px, 3rem));
    width: -webkit-fill-available;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: min(70px, 3rem);
}

section .buffer {
    background-color: var(--background-secondary);;
}

section .container {
    width: max(600px,70vw);
    width: -webkit-fill-available;
    background-color: var(--background-primary);;
    padding: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}

@media screen and (max-width: 700px) {

    section{
        display: flex;
    }

    section .buffer{
        display: none;
    }

    section .container {
        width: -webkit-fill-available;
    }
}

.arrow-wrapper{
    animation: MoveUpDown 1.2s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1rem);
    }
}

.map {
    width: min(600px, 80vw);
    height: min(400px, 60vh);
    margin-top: min(75px, 3.5rem);
    border-radius: 10%;
    z-index: 0;
}