
header{
    background-color: var(--color-primary);
    color: var(--background-primary);
    position: fixed;
    top: 0; /* Stick it to the top */
    padding: 1rem;
    height: min(70px, 3rem);
    width: 100vw;
    display: grid;
    grid-template-areas: "logo nav";
}

.icon-wrapper{
    background-color: var(--background-primary);
    height: 2rem;
    width: 2rem;
    border-radius: 10%;
    grid-area: logo;
    display: grid;
    align-items: center;
    justify-items: center;
}

.logo{
    color: var(--color-primary);
    font-weight: bold;
}

.nav-desktop{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.nav-mobile{
    display: none;
    color: var(--color-primary);
}

@media screen and (max-width: 550px) {

    .nav-mobile {
        position: fixed;
        top: 0;
        padding: 1rem;
        min-width: 40vw;
        border-bottom-left-radius: 20%;
        z-index: 1;
        background-color: var(--background-secondary);
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        pointer-events: none;
    }

    .nav-mobile span {
        margin-top: 0.5rem;
    }

    .active{
        right: 0;
        opacity: 1;
        pointer-events: auto;
    }

    .nav-desktop {
        display: none;
    }
}