---

import Header from '../component/Header.jsx';
import Main from '../component/Main.astro';
import Programma from '../component/Programma.astro';
import Location from '../component/Location.astro';
import Rsvp from '../component/Rsvp.astro';
import ListaNozze from '../component/lista-nozze.astro';

const menuOptions = [
	{
		name : "Home",
		link : "#"
	},
	{
		name : "Programma",
		link : "#programma"
	},
	{
		name : "Location",
		link : "#location"
	},
	{
		name : "RSVP",
		link : "#rsvp"
	},
	{
		name : "Lista",
		link : "#lista-nozze"
	}
];

---
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Otter plus Nuclear Manatee</title>
		<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')} />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
	</head>
	<body>
		<Header menuOptions={menuOptions} client:load />
		<Main />
		<Programma />
		<Location />
		<Rsvp />
		<ListaNozze />
	</body>
</html>