---

import Header from '../component/Header.jsx';

const menuOptions = [
	{
		name : "Home",
		link : "/#"
	},
	{
		name : "Cerimonia",
		link : "/#cerimonia"
	},
	{
		name : "Pranzo",
		link : "/#pranzo"
	},
	{
		name : "RSVP",
		link : "/rsvp"
	},
	{
		name : "Lista",
		link : "/lista-nozze"
	}
];

---
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Otter plus Nuclear Manatee</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')} />
	</head>
	<body>
		<Header logo="menu" menuOptions={menuOptions} client:load />
		<section>
            rsvp
        </section>
	</body>
</html>
