---

---

<section id="cerimonia">
    <h1>Alle 10:00 al Comune di Montalto Pavese</h1>
    <ul>
        <li>10:00 cerimonia al Comune di Montalto Pavese</li>
        <li>11:00 paguri volanti</li>
        <li>12:00 cibo all' Agriturismo "La Colombina"</li>
    </ul>
    <a href="#pranzo">
        <div class="arrow-wrapper">
            <span class="material-icons">arrow_downward</span>
        </div>
    </a>
</section>