---

import Section from '../component/Section.astro';

---
<style>
    section img{
        max-width: 500px;
        width: max(500px, 90vw);
        max-height: 60vh;
    }
</style>

<Section id="main">
        <h1>18 Giugno 2022</h1>
        <h2>Edoardo Cremaschi e Vanessa Colciago si sono sposati!</h2>
        <img src="/otterplusmanatee.png" alt="otter plus nuclearmanatee" >
        <a href="#programma">
            <div class="arrow-wrapper">
                <span class="material-icons">arrow_downward</span>
            </div>
        </a>
</Section>