---

import Section from '../component/Section.astro';

---
<style>
    section img{
        max-width: 600px;
        width: calc(100vw - 4rem);
        height: auto;
    }
</style>

<Section id="">
        <h1>Edoardo Cremaschi e Vanessa Colciago si sposano!</h1>
        <img src="/otterplusnuclearmanatee.svg" alt="otter plus nuclearmanatee" >
        <a href="#programma">
            <div class="arrow-wrapper">
                <span class="material-icons">arrow_downward</span>
            </div>
        </a>
</Section>