---
import Section from '../component/Section.astro';
import { Markdown } from 'astro/components';
---
<style>
.programma {
    padding-left: 3rem;
    padding-right: 3rem;
}

</style>


<Section id="programma">
    <Markdown>
        ## Programma

### Ore 11:30
Ritrovo presso:
Agriturismo La Colombina - I Doria di Montalto
Località La Colombina 1, Montalto Pavese, (PV)

#### Ore 12:00
Scambio degli Anelli e delle Promesse Nuziali

#### Ore 13:00
Aperitivo a Buffet nel giardino esterno

#### Ore 17:00
Sweet Table e Taglio della Torta ad opera de Il Grembiule a Pois.

### A little More
Nel corso della giornata sarà presente il caricaturista Alberto Bandini per immortalare i momenti e il sorriso di tutti coloro che lo desidereranno.

    </Markdown>
    <a href="#location">
            <div class="arrow-wrapper">
                <span class="material-icons">arrow_downward</span>
            </div>
        </a>
</Section>